body {
    margin: 80px auto;
    max-width: 650px;
    line-height: 1.6;
    color: #444;
    padding: 0 10px;
    background-color: #EEE;
    font-size: 18px;
    font-family: "Georgia", serif;

    word-wrap: break-word;
    overflow-wrap: break-word;
}

.callout {
    margin: 18px 0;
    padding: 12px 24px;
}

.callout-def {
    background-color: rgba(8, 109, 221, 0.1);
}
.callout-result {
    background-color: rgba(221, 168, 8, 0.1);
}


.callout-title {
    display: inline;
    font-weight: bold;
}
.callout-def .callout-title {
    color: rgb(7, 77, 154);
}
.callout-result .callout-title {
    color: rgb(117, 89, 5);
}

.proof::after {
    content: "■";
    display: block;
    text-align: right;
}

.subproof::after {
    content: "□";
    display: block;
    text-align: right;
}

mjx-container {
    overflow-x: auto;
    overflow-y: hidden;
}
